.css-187mznn-MuiSlider-root {
    color: #8963d4 !important;
}

.response{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-end;
    justify-content: center;
    align-content: center;
}
[id^="iris"]
{
    opacity: 40%;
}