.page-bg {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.flowerPic {
    width: 30%;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    position: fixed;
    left: -5%;
    bottom: 0;
}

.flowerPic2 {
    width: 30%;
    position: fixed;
    right: -5%;
    bottom: 0;
}

.flowersBG {
    display: flex;
    height: 100%;
}